@charset "utf-8";
/* 改日再來改*/

.hiddiv{overflow:hidden;	position: absolute;
		height: 322px;
		width:632px;
		right:0px;	
		top: 0px;
		}
/*
transition:  [ <transition-property> ||
               <transition-duration> ||
               <transition-timing-function> ||
               <transition-delay> ]
*/
.box {
	border: medium none #999;
	position: inherit;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 16px;
	text-align: left;
	display: inline-block;
}
.box-image {
	height: 100px;
	width: 200px;
	overflow: hidden;
	display: inline-block;
}
.list {
	position: relative;
	display: inline-block;
/*	float: left;*/
}
/*
.list :hover {
	-webkit-transition: all 0.5s ease-in-out;
	-webkit-transform: translate(100px,0);

}*/
/*
.list .box-image:hover {
	-webkit-transition: all 0.5s ease-in-out;
;
	-webkit-transform:scale(10,10) translate(0%,0%);
	opacity: 0.1;
}*/

#se{
}
.list .box-image {
	/*	background: url('bb.png') 0px 0px no-repeat;*/
	/*background-color:#F00;*/
	border-radius: 50%;
	background-image: -webkit-linear-gradient(bottom, #000000 20%, #FFFFFF 100%);
	-webkit-transition: all 0.1s ease-in-out;
	position: relative;
}
.list .box-image:hover {
	/*	background: url('bb.png') 0px 0px no-repeat;*/
	/*background-color:#F00;*/
	-webkit-transform: scale(5, 1);
	-webkit-transition: all 10s ease-in-out;
	position: relative;
}
.list .box-content {
	position: relative;
}
#tt {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 24px;
	position: absolute;
	display: run-in;
	top: 30px;
	left: 30px;
	text-align: center;
	color:white;
	
}
#lol {
-webkit-transition: opacity 0.5s linear;
opacity: 0;
background: rgba(255,255,255,0.3);
	height:auto;
	margin:0px auto;
}

td{
margin: 5px;
border: 1px black;
}
tr:nth-child(even) {
	background: rgba(0,0,0,0.8);
	color:white;
}

tr:nth-child(odd) {
	background: white;
}
.vp {
	margin: auto;
	height: 1px;
}

div {

	text-align: center;
	display: block;
	position:relative;

}
#ninja_walk {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 300px;
	background: transparent url("../search/rudolf_0.bmp") 0 0 no-repeat;
}

#firen_run {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 300px;
	background: transparent url("../search/firen_2.png") 0 0 no-repeat;
}

           .row:nth-child(even) {
              background: #bbb;
              color: white;
            }
.vp{
	position: relative;
	margin:0px auto;
	border:3px black;
	border-radius: 8px;
	background-color:rgba(255,255,255,0.8);
/*	float: inherit;*/
	height:auto;
	display: run-in;
	
}
tbody{

}
td{
width:30%;
}

input[type="submit"] {
background:white;
border:5px solid rgba(0,0,0,0.6);
}
			
.jaill{
text-align:left;
font-family: "MS Gothic", monospace;
position: middle;
margin:0px auto;
color: black;
display: block;
background: rgba(255, 0, 0, 0.5);
-webkit-border-radius: 10px;
te
border: 1px solid rgba(0, 0, 0, 0.5);
}

#footer_wrap{
position: relative;
}


#hand{
/*	-webkit-transition: left 1s linear;*/
		background: transparent url("../search/pointing_hand.png") 0 0 no-repeat;
		position: relative;
		height: 322px;
		width:632px;
		z-index:21;
				left: 632px;

		}